
:root{
    --green:#1ABC9C;
    --grey:#3A546D;
    --dark-grey:#2C3E50;
}


img{
    max-width: 100%;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}




header{
    background-color: var(--grey);
    padding: 20px 0;
}


.header_nav{
    display: flex;
}

.profile_card{
    background-color: red;
    min-height: 500px;
}

.profile{
    background-color: var(--green);
}